* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,#root {
  background-color: #4b1dd1;
  color: white;
  overflow-x: hidden;
  padding-top:0%;
}

.logo img {
  cursor: pointer;
}


.demo-btn {
  background: white;
  border: 2px solid #000;
  color: black;
}

.demo-btn:hover {
  background: #ff7c00;
  color: white;
  border-color: #ff7c00;
}

.start-btn {
  background: #000;
  color: white;
}

.start-btn:hover {
  background: #ff7c00;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Hero Section */
.hero {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-content ul {
  list-style: none;
  margin-bottom: 30px;
}

.hero-content li {
  margin: 12px 0;
  font-size: 1.1rem;
}

.hero-content li i {
  color: #00ff85;
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.start-free {
  background-color: #ff7c00;
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.start-free:hover {
  background-color: #ff9e3d;
}

.book-demo {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 14px 26px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.book-demo:hover {
  background-color: white;
  color: #4b1dd1;
}

/* Hero Image */
.hero-image {
  position: relative;
  width: 450px;
  text-align: center;
}

.hero-image img {
  width: 100%;
  border-radius: 20px;
}

.play-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff7c00;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.play-button:hover {
  background-color: #ff9e3d;
}

/* Trusted Section */
.trusted {
  text-align: center;
  padding: 40px 20px;
  color: white;
}

.trusted h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.badge {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  font-size: 0.9rem;
  width: 180px;
}

.badge i {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #00ff85;
}

/* Responsive */
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

 

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-image {
    margin-top: 40px;
    width: 100%;
  }
}


