@import "./theme.css";

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--slate-50);
  color: var(--slate-900);
}

code {
  font-family: var(--font-mono);
}
